.title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .title {
    flex-grow: 1;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;

  .accordion,
  .accordion .content {
    height: 50px;
  }
}
