@import '../_functions.scss';

// hide native scrollbar

.scrollbar {
  --color: #ff0000;
  --border-color: #fff;
  --width: desktop-vw(8px);
  --min-height: desktop-vw(48px);
  --position-right: desktop-vw(8px);
  --border-size: desktop-vw(1px);
  --border-radius: desktop-vw(4px);

  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 4;
  padding: desktop-vw(24px) 0;

  .inner {
    height: 100%;
    position: relative;
  }

  .thumb {
    min-height: var(--min-height);
    width: var(--width);
    background-color: var(--color);
    position: absolute;
    right: var(--position-right);
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--border-color);
    cursor: grab;
  }

  @include mobile {
    display: none;
  }
}
